<div class="dashNav">
    <div class="navContainer">
        <div class="titleCont">
            <h1 class="title">CHAMBERLAIN GROUP</h1>
        </div>
        <div style="width: 100%;">
            <div class="btnCont">
                <button class="navBtn">
                    <mat-icon class="icono">dashboard</mat-icon>
                    Dashboard
                </button>
            </div>
            <div class="btnCont">
                <button class="navBtn">
                    <mat-icon class="icono">notifications</mat-icon>
                    Alertamiento
                </button>
            </div>
        </div>
    </div>
</div>