<div class="col-6 col-xl-3 p0">
    <div class="pg10">
        <mat-card class="carta">
            <div class="wC">    
                <div class="estR">
                    <p>Estado</p>
                    <p>Fuera de Rango</p>
                </div>
                <div class="wFlex">
                    <div class="tiempoInac">
                        Tiempo inactivo
                    </div>
                    <div class="tiempo">
                        59 min
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<div class="col-6 col-xl-3 p0">
    <div style="padding: 10px 5px 10px 10px;">
        <mat-card class="carta">
            <div class="wC">
                <div class="wTaM">
                    <p>Temperatura</p>
                </div>
                <div class="wFlex">
                    <div class="brd">
                        <div class="txtAct">
                            Actual 
                        </div>
                        <div class="txtAct">
                            Incidencia
                        </div>
                    </div>
                    <div class="degCont">
                        <div class="deg">
                            28°
                        </div>
                        <div class="deg">
                            1°
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<div class="col-6 col-xl-3 p0" >
    <div style="padding: 10px 10px 10px 5px;">
        <mat-card  class="carta">
            <div class="wC">
                <div class="wTaM">
                    <p>Origen</p>
                </div>
                <div class="sensor">
                    <p>Sensor de corriente</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<div class="col-6 col-xl-3 p0">
    <div class="pg10">
        <mat-card  class="carta">
            <div class="wC">
                <div class="wTaM">
                    <p>Registro de inicidente</p>
                </div>
                <div class="sensor">
                    <p>09:45</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>