.upVarCont{
    width: 100%;
    background-color: #bab7b8;
    
}
.contenido{
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.exitBtn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}