  <div class="loginContainer">
    <mat-card class="cartaLogin">
        <mat-card-title>
          <h2 class="title">CHAMBERLAIN GROUP</h2>
        </mat-card-title>
        <h3 class="subTitle">Bienvenido</h3>
        <p class="center">
            <mat-form-field appearance="outline" class="full">
                <mat-label>Direccion de correo</mat-label>
                <input matInput placeholder="example@example.com"id="email" type="email">
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
        </p>
        <p class="center">
            <mat-form-field appearance="outline"class="full">
                <mat-label>Password</mat-label>
                <input matInput placeholder="******"id="pass" type="password">
                <mat-icon matSuffix>remove_red_eye</mat-icon>
            </mat-form-field>
        </p>
        <mat-checkbox color="primary">Recordar usuario</mat-checkbox>
        
    
        <mat-card-actions>
          <button class="btnIng" routerLink="dashboard">INGRESAR</button>
          
          <button class="btnReg">REGISTRAR</button>
        </mat-card-actions>
      </mat-card> 
  </div>    