<mat-card >
    <div style="width: 100%;">
       <div class="header">
            28 de diciembre del 2021
       </div>
       <div style="padding: 5px;">

           <div class="subH">
               59 minutos inactivo
            </div>
            <div class="cont">
                <div style="width: 50%; display: flex;">
                <div class="chart"></div>
                <div class="brd">
                    <div>
                        Temperatura inicial
                    </div>
                    <div>
                        Apagado
                    </div>
                    <div>
                        Origen
                    </div>
                </div>
                <div class="deg">
                    <div class="deg">
                        28°
                    </div>
                    <div class="time">
                        09:45
                    </div>
                    <div class="miniTxt">
                        sensor de corriente
                    </div>
                </div>
            </div>
            <!-- second -->
            <div style="width: 50%; display: flex; justify-content: right;">
                
                <div class="brd">
                    <div>
                        Temperatura final
                    </div>
                    <div>
                        Encendido
                    </div>
                    <div>
                        Origen
                    </div>
                </div>
                <div class="deg">
                    <div class="deg">
                        28°
                    </div>
                    <div class="time">
                        10:44
                    </div>
                    <div class="miniTxt">
                        Manuel Manchado
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div style="width: 100%;">
        <div class="header">
             28 de diciembre del 2021
        </div>
        <div class="strippd">

        <div class="subH">
             59 minutos inactivo
        </div>
        <div class="cont">
             <div style="width: 50%; display: flex;">
                 <div class="chart2"></div>
                 <div class="brd">
                     <div>
                         Temperatura inicial
                     </div>
                     <div>
                         Apagado
                     </div>
                     <div>
                         Origen
                     </div>
                 </div>
                 <div class="deg">
                     <div class="deg">
                         28°
                     </div>
                     <div class="time">
                         09:45
                     </div>
                     <div class="miniTxt">
                         sensor de corriente
                     </div>
                 </div>
             </div>
             <!-- second -->
             <div style="width: 50%; display: flex; justify-content: right;">
 
                 <div class="brd">
                     <div>
                         Temperatura final
                     </div>
                     <div>
                         Encendido
                 </div>
                 <div>
                     Origen
                 </div>
             </div>
             <div class="deg">
                 <div class="deg">
                     28°
                 </div>
                 <div class="time">
                     10:44
                 </div>
                 <div class="miniTxt">
                     Manuel Manchado
                 </div>
             </div>
            </div>

             </div>
         </div>
     </div>
     <div style="width: 100%;" align="right">

         <button class="expBtn">
            Exportar
         </button>
     </div>
</mat-card>